<div class="margin-top-2" fxLayoutAlign="center center">
  <div fxLayoutAlign="center start" fxLayout="column" fxFlex="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
    <mat-card fxFlex="20" class="width-100" fxLayout="column">
      <div fxFlex="50" class="width-100" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-card-title>Yoda Speak</mat-card-title>
      </div>
      <div fxFlex="50" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-form-field fxFlex>
          <input autocomplete="off" matInput placeholder="Speech here, enter" [(ngModel)]="inputString" (keyup.enter)="getYodaSpeak()">
        </mat-form-field>
        <button [disabled]="!inputString" mat-raised-button color="primary" (click)="getYodaSpeak()"> Translate</button>
      </div>
    </mat-card>
    <div fxFlexOffset="2" fxFlex fxLayout="row" fxLayoutAlign="center start">
      <img src="assets/yoda.png" />
      <mat-card class="speech-bubble" fxLayoutAlign="center center">
        <div [ngClass]="{'loading': !yodaSpeakReady, 'error': yodaSpeakError}" > {{yodaSpeak}}</div>
      </mat-card>
    </div>
  </div>
</div>
